.sign-user-block_user {
    width: 9rem;
    height: 2rem;
    border: 2px solid #ff979e;
    background-color: #fcf6ff;
    border-radius: 20px;
    display: flex;
    align-items: center;
    padding: .5rem;
}

.sign-user-block_user__pic {
    width: 2rem;
    height: 2rem;
}

.sign-user-block_user__about {
    display: flex;
    flex-direction: column;
    padding: .7rem;
}

.sign-user-block_user__about_about {
    color: #4b4b4b;
    font-weight: bold;
    text-decoration: underline;
}
