html, body {
    margin: 0;
    padding: 0;
    height: border-box;
    background-color: #f5faff;
}

a {
    color: inherit;
    text-decoration: none;
}

h1 {
    margin: 0;
    padding: 0;
}

.root {
    margin-top: 20px;
}

.title {
    display: flex;
    justify-content: center;
    margin-top: 4rem;
    color: #8ae7ff;
    text-decoration: none;
    font-size: 6rem;
    text-shadow: 0  4px #ff726f;
    font-family: 'Fredoka One', cursive;
}
