.but-cute {
    display: flex;
    justify-content: center;
    height: border-box;
    color: #4b4b4b;
    background-color: #ffe8ed;
    box-shadow: 0 0 0 2px #ffc6cc;
    font-family: 'Righteous', sans-serif;
    outline: none;
    margin-left: 5rem;
    margin-bottom: 2rem;
    width: 10rem;
    padding: 10px;
    border-radius: 20px;
    font-size: 25px;
    font-weight: bold;
}

.but-cute:focus {
    width: 8.2rem;
}

.pos-but-auth {
    display: flex;
    flex-direction: row-reverse;
}


.but-auth {
    padding: 10px;
    background-color: #ffe8ed;
    box-shadow: 0 0 0 2px #ffc6cc;
    color: #4b4b4b;
    outline: none;
    margin-right: 2rem;
    border-radius: 10px;
    font-size: 20px;
    font-family: 'Righteous', sans-serif;
    font-weight: bold;
}

.buttons {
    display: flex;
    justify-content: center;
    flex-direction: column;
    margin-right: 15rem;
}
