.but-cute {
    display: flex;
    margin: 1rem;
    text-align: center;
    height: 3rem;
}

.but-cute__but {
    display: block;
    width: 10rem;
    padding: .3rem;
    border-radius: 1rem;
    text-align: center;
    font-size: 1.6rem;
    font-weight: bold;
    color: #4b4b4b;
    background-color: #fcf6ff;
    border: 2px solid #ff979e;
    outline: none;
}

.button-submit {
    width: 6rem;
    padding: .4rem;
    border-radius: .6rem;
    font-size: 1rem;
    font-weight: bold;
    color: #4b4b4b;
    background-color: #fcf6ff;
    border: 2px solid #ff979e;
    outline: none;
    margin: .5rem;
}

.button-link {
    width: 4.96rem;
    padding: .4rem;
    border-radius: .6rem;
    font-size: 1rem;
    font-weight: bold;
    color: #4b4b4b;
    background-color: #e8f6ff;
    border: 2px solid #ff979e;
    outline: none;
    margin: .5rem;
}
