.but-cute {
    display: flex;
    align-items: center;
    flex-direction: column;
    height: 3rem;
    margin: 1rem;
}

.but-cute__but {
    width: 10rem;
    padding: 10px;
    border-radius: 20px;
    margin-bottom: 2rem;
    font-size: 25px;
    font-weight: bold;
    text-align: center;
    color: #4b4b4b;
    background-color: #fcf6ff;
    box-shadow: 0 0 0 2px #ff979e;
    font-family: 'Sniglet', cursive;
    outline: none;
}

.but-auth {
    display: flex;
    justify-content: center;
    flex-direction: row;
}


.but-auth__but {
    padding: 10px;
    background-color: #fcf6ff;
    box-shadow: 0 0 0 2px #ff979e;
    color: #4b4b4b;
    outline: none;
    border-radius: 10px;
    font-size: 20px;
    font-family: 'Sniglet', cursive;
}

.but-auth__but_active {
    background-color: #c2f1ff;
    box-shadow: 0 0 0 2px #ff979e;
    color: #4b4b4b;
}

.but-menu-row {
    display: flex;
    justify-content: end;
    flex-direction: row-reverse;
    margin-right: 2rem;
    margin-bottom: 1rem;
}

.but-sign {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}
