.pic-card {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 15rem;
    border: 2px solid #ff979e;
    background-color: #e8f6ff;
    border-radius: 20px;
    margin: 1rem;
    height: 20rem;
}

.pic-card__name {
    font-weight: bold;
    font-size: 1.4rem;
    margin-top: .3rem;
    margin-bottom: 1.5rem;
    color: #000000;
    text-align: center;
    text-decoration: underline;
    text-decoration-color: #ff5e6a;
    width: 13rem;
    word-break: break-word;
}

.pic-card__img {
    margin: .7rem;
    width: 100px;
    height: 100px;
}

.pic-card__about {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-left: 2rem;
    margin-right: 2rem;
    margin-bottom: .7rem;
    font-size: 1rem;
    text-align: center;
}

.pic-card__about_item {
    margin-left: .2rem;
    margin-right: .2rem;
    width: 13rem;
}

.pic-card__about_item-comment {
    font-weight: lighter;
    color: #4b4b4b;
    word-break: break-word;
}
