.signin {
    display: flex;
    align-items: center;
    margin: 2rem;
    flex-direction: column;
}

.signin-block {
    border-radius: 25px;
    box-shadow: 0 0 0 2px #ffc6cc;
    width: 18rem;
    background-color: #ffe8ed;
    padding: 3px;
}

.signin--block {
    text-align: center;
    font-size: 15px;
    font-family: 'Righteous', sans-serif;
    color: #4b4b4b;
    font-weight: bold;
}

.inputs {
    display: flex;
    align-items: center;
    flex-direction: column;
    margin-bottom: 15px;
}

.input {
    border: none;
    color: #303030;
    margin-bottom: 1rem;
    padding: 5px;
    font-size: 15px;
    font-family: 'Righteous', sans-serif;
    font-weight: bold;
    height: 2rem;
    outline: none;
    border-radius: 10px;
    width: 200px;
    background-color: #fffafa;
}
