.ttle {
    display: flex;
    justify-content: center;
    color: #8ae7ff;
    text-decoration: none;
    font-size: 6rem;
    text-shadow: 0  4px #ff726f;
    font-family: 'Fredoka One', cursive;
    height: 8rem;
}


.menu {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-left: 5rem;
    margin-right: 5rem;
    margin-top: 2rem;
}
